version: '3'

services:
  node-core-dev:
    build: ./
    container_name: 'node-dev'
    restart: always
    tty: true
    ports:
      - '2222:22'
      - '3000:3000'
      - '5173:5173'
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
    volumes:
      - .:/pwd
      - ./.ssh_host_keys:/etc/ssh/host_keys
      - ~/.gitconfig:/home/gitpod/.gitconfig:ro
    command: ['/usr/local/bin/init.sh']
